<div class="toolbar" role="menu">
  <div class="menu-button">
    <img
      src="./../assets/Bottom-bar/icons8-página-principal-25.png"
      alt="Home"
    />
    <div>Home</div>
  </div>
  <div class="menu-button">
    <img src="./../assets/Bottom-bar/icons8-búsqueda-25.png" alt="" />
    <div>Search</div>
  </div>
  <div class="menu-button">
    <img src="./../assets/Bottom-bar/icons8-tienda-online-30.png" alt="Sell" />
    <div>Sell</div>
  </div>
  <div class="menu-button">
    <img
      src="./../assets/Bottom-bar/icons8-burbuja-de-diálogo-48.png"
      alt="Chat"
    />
    <div>Chat</div>
  </div>
  <div class="menu-button">
    <img
      src="./../assets/Bottom-bar/icons8-usuario-de-género-neutro-64.png"
      alt="Profile"
    />
    <div>Profile</div>
  </div>
</div>
